.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

p{

}
.product{
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

img{
    width: 300px;
    border-radius: 10px;
}

.mybtn{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(43, 60, 212);
    color: white;
}

.detail{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(43, 60, 212);
    color: white;
    margin-top: 10px;
}

.detail:hover{
    background-color: aqua;
    color: black;
}

.mybtn:hover{
            background-color: rgb(255, 119, 0);
            color: black;
        }

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    display: none; /* Hidden by default */
    padding-top: 100px; /* Location of the box */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    background-color: rgb(0,0,0); /* Fallback color */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 20px;
    width: 80%;
}

/* The Close Button */
.close {
    float: right;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 28px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}