.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

p{

}

ul{
    text-align: left;
    margin-left: 50px;
    
}
.product{
    border: 2px solid black;
    margin: 10px;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

img{
    width: 300px;
    border-radius: 10px;
}

.mybtn{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(43, 60, 212);
    color: white;
}

.detail{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(43, 60, 212);
    color: white;
    margin-top: 10px;
}

.detail:hover{
    background-color: aqua;
    color: black;
}

.mybtn:hover{
            background-color: rgb(255, 119, 0);
            color: black;
        }